img.img-gray {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    cursor: pointer;
}

img.img-gray:hover {
    -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
    filter: grayscale(0%);
    cursor: pointer;
}

.whats img {
    position: fixed;
    bottom: 45px;
    right: 10px;
    width: 45px;
    -webkit-filter: drop-shadow(2px 2px 5px #000);
    z-index: 1005;
}

@media screen and (max-width: 980px) {
    .whats img {
        bottom: 130px;
        right: 10px;
        width: 40px;
    }
}